<!-- page header -->
<div>
  <span class="header_tab"><a href="/">Home</a></span>
  <span class="header_tab"><a href="/completed">Completed</a></span>
  <span class="header_tab"><a href="/deleted">Deleted</a></span>
  <span class="header_tab">
    <div class="dropdown">
      <span class="cat_header_tab"><a href="">Tags</a></span>
      <div class="dropdown-content">
        <span id="hidden_block_for_nudging"></span>
        <% cat_counter = 0 #%>
        <% @display_categories.each do |cat| %>
          <% cat_counter += 1 %>
          <% if cat_counter == @display_categories.length %>
            <a href="/category/<%= cat %>" class="bottom_cat"><%=
              cat.split(" ").map(&:capitalize).join(' ') %>
              <% if @all_tasks.count {|task| task.categories[cat] == true} > 1 %>
                (<%= @all_tasks.count {|task| task.categories[cat] == true} %>)
              <% end %>
            </a>
          <% else %>
            <a href="/category/<%= cat %>"><%= cat.split(" ").map(&:capitalize).join(' ') %>
            <% if @all_tasks.count {|task| task.categories[cat] == true} > 1 %>
              (<%= @all_tasks.count {|task| task.categories[cat] == true} %>)
            <% end %>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </span>

  <!-- prepare login/out variables -->
  <% if session[:username] %>         <!-- logged in -->
    <% loginout_name = "logout" %>
    <% loginout_text = "Logout" %>
    <% loginout_path = "/logout" %>
  <% else %>                          <!-- not logged in -->
    <% loginout_name = "login" %>
    <% loginout_text = "Login" %>
    <% loginout_path = "/login" %>
  <% end %>

  <!-- LOGIN / LOGOUT -->
  <span class="header_tab">
    <!-- Same form code generates login/logout button/action -->
    <form method="get" action="<%= loginout_path %>">
      <input type="hidden" name="pg_type" value="<%= @pg_type %>">
      <button class="loginout" type="submit"
        name="<%= loginout_name %>"><%= loginout_text %></button>
    </form>
  </span>
  <!-- WELCOME / CREATE ACCOUNT -->
  <span class="header_tab">
    <% if session[:username] %>      <!-- no action to take -->
      <%= "Welcome, #{session[:username]}!" %>
    <% else %>                       <!-- invite account creation -->
      <form method="get" action="/create_account">
        <input type="hidden" name="pg_type" value="<%= @pg_type %>">
        <button class="loginout" type="submit"
          name="create_account">Create Account!</button>
      </form>
    <% end %>
  </span>
</div>
