<!DOCTYPE html>
<html>
  <head>
    <link rel="icon"
        type="image/png"
        href="/assets/images/favicon.ico">
      <meta charset='utf-8' />
      <link type="text/css" rel="stylesheet" href="/assets/styles.css"/>
      <title>Simple To Do</title>
  </head>
  <body>
    <% # Prepare variables for editing mode or erroneous input %>
    <% if @editing_mode %>
      <% # locate task to edit using @id_to_edit %>
      <% task_to_edit = @tasks.find {|task| task.id == @id_to_edit } %>
      <% description_to_edit = task_to_edit.description %>
      <% description_to_edit = @overlong_description if @overlong_description %>
      <% # due date might not exist %>
      <% due_date_to_edit = task_to_edit.date_due.strftime('%F') unless task_to_edit.date_due == "" %>
      <% categories_to_edit = task_to_edit.categories.keys.reject { |cat| cat == "deleted" || cat == "completed"}.join(", ") %>
      <% categories_to_edit = @bad_categories if @bad_categories %>
      <% box_title = '<span class="editing">Editing task!</span>' %>
      <% submit_button_title = "Submit Edit" %>
      <% new_task_action = "submit_edit/#{task_to_edit.id}" %>
    <% else %>
      <% description_to_edit = @overlong_description if @overlong_description %>
      <% categories_to_edit = @bad_categories if @bad_categories %>
      <% box_title = "Add new task!" %>
      <% submit_button_title = "Save Task" %>
      <% new_task_action = "newtask" %>
    <% end %>

    <h1>Simple To Do List</h1>
      <%= erb :task_table %>
      <br />
      <table id="add_new_task">
        <form method="post" action="/<%= new_task_action %>" id="description">
        <tr><td>&nbsp;</td><td style="align:left;"><%= box_title %></td></tr>
        <tr>
          <td class="new_task_label"><label for="description">Describe task:</label></td>
          <td width="90%">
            <textarea rows="4" cols="50" name="description" placeholder="What do you have to do?"
            onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }" autofocus="autofocus"><%= description_to_edit if description_to_edit %></textarea>
          </td>
        </tr><tr>
          <td class="new_task_label">Date due:</td>
          <td><input type="text" name="date_due" placeholder="Optional: format mm/dd or yyyy/mm/dd" class="other_input_box" value="<%= due_date_to_edit %>"></td>
        </tr><tr>
          <td class="new_task_label">Categories:</td>
          <td><textarea rows="2" cols="50" type="text" name="categories" placeholder="Separate by commas: design, debugging"
          onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"><%= categories_to_edit if categories_to_edit %></textarea></td>
        </tr><tr>
          <td>&nbsp;</td>
          <td>
            <% if @editing_mode %>
              <input type="hidden" name="was_in_editing_mode" value="<% @id_to_edit %>">
            <% end %>
            <input type="submit" class="input-button" value="<%= submit_button_title %>">&nbsp;
            <% if @editing_mode %>
              <a class="input-button cancel-button" href="/">Cancel</a>
            <% end %>
            <div class="user_message">
              <% if @user_message %>
                <%= @user_message %>
              <% end %>
            </div>
          </td>
        </tr>
        </form>
      </table>

  </body>
</html>
