<!-- page header -->
<table class="header">
  <tr>
    <td><a href="/">home</a></td>
    <td><a href="/completed">completed</td>
    <td><a href="/deleted">deleted</td>
  </tr>
</table>

<!-- This table lists all tasks in a certain category (or in the main view).
Its functionality is identical across various categories, with a few changes. -->
<table id="task_table">
  <thead class="thead">
    <th>&nbsp;</th>
    <th class="task">Task</th>
    <th class="date_added">Date added</th>
    <th class="date_due">Date due</th>
    <th class="categories">Categories</th>
    <th class="delete"></th>
  </thead>
  <tbody>
    <% row_counter = 0 %>
    <% @tasks.each do |task| %>
      <% row_counter += 1 %>
      <tr<%= " class='colored_row'" if row_counter.even? %>>
        <td class="task_table_tds"<%= " id='bottommost'" if row_counter == @tasks.length %>>

          <!-- checkbox logic & styling is complex -->
          <!-- determine checkbox appearance based on whether item is completed -->
          <% if task.categories["completed"] == true %>
            <% hover_on_checkbox = "/assets/images/nxt-checkbox-unchecked-th.png" %>
            <% hover_off_checkbox =     "/assets/images/nxt-checkbox-checked-ok-th.png" %>
            <% checkbox_action = "/uncheck_completed/" %>
          <% else %>
            <% hover_on_checkbox = "/assets/images/nxt-checkbox-checked-ok-th.png" %>
            <% hover_off_checkbox =     "/assets/images/nxt-checkbox-unchecked-th.png" %>
            <% checkbox_action = "/check_completed/" %>
          <% end %>
          <form method="post" action="<%= checkbox_action %><%= task.id %>">
            <label for="task_checkbox"><input class="checkbox" type="image" name="task_checkbox" src="<%= hover_off_checkbox %>"
              onmouseover="this.src='<%= hover_on_checkbox %>';" onmouseout="this.src='<%= hover_off_checkbox %>';">
              <input type="hidden" name="pg_type" value="<%= @pg_type %>"></label>
          </form>

        </td>
        <td class="task"<%= " id='bottommost'" if row_counter == @tasks.length %>><%= task.description %></td>
        <% added = task.date_added.strftime('%F') %>
        <td<%= " id='bottommost'" if row_counter == @tasks.length %>><%= added %></td>
        <% due = task.date_due.strftime('%F') unless task.date_due == "" %>
        <td<%= " id='bottommost'" if row_counter == @tasks.length %>><%= due if task.date_due != "" %></td>
        <td<%= " id='bottommost'" if row_counter == @tasks.length %>>&nbsp;</td>
        <td class="rightmost"<%= " id='bottommost'" if row_counter == @tasks.length %>>
          <% unless @pg_type == "deleted" %>
            <form method="post" action="/delete/<%= task.id %>">
              <label for="delete_button"><input type="hidden" name="pg_type" value="<%= @pg_type %>"><button type="submit" name="delete">Delete</button></label>
            </form>
          <% else %>
            <form method="post" action="/undelete/<%= task.id %>">
              <label for="delete_button"><input type="hidden" name="pg_type" value="<%= @pg_type %>"><button type="submit" name="delete">Undelete</button></label>
            </form>
            <form method="post" action="/perma_delete/<%= task.id %>">
              <label for="delete_button"><input type="hidden" name="pg_type" value="<%= @pg_type %>"><button type="submit" name="delete">Delete!!</button></label>
            </form>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
